:root{
--fontstyle: 'Lato', sans-serif, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
--mainGroen: #167A74;
--mainGrijs: #f2f2f2;
--mainGeel: #EBAD36;
--tekstWit: #ffffff;
--tekstZwart: #000000;


}

html{
  margin: 0px;
  max-height: auto;
  scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    /* margin: 25px auto; */
    font-family: var(--fontstyle);
    color: rgb(0, 0, 0);
    /* text-align: center; */
    display: grid; 
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 59em 50em 59em;
    justify-content: stretch;
    gap: 1.5em 0px;
    margin: 0px;
    text-decoration: none;
    text-decoration-line: none;
  }


/* =============================

Sectie 1 van de pagina - Intro

============================= */
.sectie-1{
  background-color: blue;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 0.55fr 0.45fr;
  grid-template-rows: 38em 21em;
  color: var(--tekstWit);
}

.block-message{
  background-color: var(--mainGroen);
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display:grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 16em 13em 9em;
  
}

.welkomstBericht {
  font-family: var(--fontstyle);
  grid-column-start: 2;
  position: relative;
  font-size: 1.5em;
  padding-top: 1.2em;
}

.welkomstBericht h1 {
  font-weight: 800;
}

.paragraaf1 {
  font-family: var(--fontstyle);
  grid-column-start: 2;
  position: relative;
  font-size: 1.4em;
}

.paragraaf1 p {
  font-weight: 300;
}

.img {
  background-color: honeydew;
  grid-row-start: 1;
  grid-column-start: 3;
  
}

.anchor {
  grid-row-start: 3;
  grid-column-start: 2;
  font-size: 1.4em;
  height: 2.7em;
  background-color: var(--mainGeel);
  width: 9em;
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
}

.anchor a {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--tekstZwart);

}

.img img {

  display: inline-block;
  width: auto;
  height: 43em;
  grid-column-start: 2;
}

.iconen {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--mainGrijs);
  height: 21em;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 11em 2em 6em 2em;
  justify-content: center;
  align-items: center;
}

.icoon1, .icoon2, .icoon3 {
  margin: 0.5em auto auto auto
}

.kopje1, .kopje2, .kopje3 {
  color: var(--mainGroen);
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
}

.tekst1, .tekst2, .tekst3 {
  color: var(--mainGroen);
  font-size: 1.4em;
  font-weight: 300;
  margin: 0 3.2em 0 3.2em;
  text-align: center;
}

.arrow {
  grid-row-start: 4;
  grid-column-start: 2;
  margin: 0 auto 0 auto;
}

/* =============================

Sectie 2 van de pagina - Uitleg

============================= */
.sectie-2{
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-rows: 11em 28em 11em;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.image {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 1;
  align-items: center;
  margin: auto 0 auto 0;
}

.image img {
  width: 41em;
  height: auto;
}

.uitleg {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  align-items: center;
  margin: auto 3em auto 4em;
  align-items: center;
}
.uitleg .heading {
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-top: -0.5em;
  height: 1.6em;
}

.uitleg .heading h1{
  font-weight: 800;
  margin: 0;
}

.uitleg .uitleg-tekst {
  font-size: 1.4em;
}

.uitleg .uitleg-tekst p{
  font-weight: 300;
}

.uitleg .anchor {
  margin-top: 1.45em;
}
/* =============================

Sectie 3 van de pagina - Tool

============================= */
.sectie-3{
  grid-row-start: 3;
  /* background-color: aqua; */
  grid-column-start: 1;
  grid-column-end: span col3-start;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 7em 52em;
}

.dataVeld{
  background-color: var(--mainGrijs);
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 2.1em;
  font-weight: 800;
}

.visVeld{
  background-color: #167A74;
  grid-column-start: 1;
  position: relative;
}

#toggle{
  width: 75px;
  height: 50px;
  background-color: var(--mainGeel);
  right: -32.2em;
  top: -5.2em; 
  position: relative;
  z-index: 100;
  border-radius: 25%;
  /* background: white; */
  /* background: rgba(255,255,255,0.8); */
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  border: none;
  align-items: center;
}

#toggle :hover{
  opacity: 100%;
  
}


.map #kaart {
  grid-row-start: 2;
  grid-column-start: 2;
  /* height: 69.3em; */
  width: auto;
}

#kaart {
  z-index: 1;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: auto;
}

.hide{
  visibility: hidden;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: var(--mainGrijs);
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}